.Applications {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}

.loadingContainer {
  width: 100%;
  text-align: center;
  margin-bottom: 1rem;
}

.loadMore {
  width: 100%;
  justify-content: center;
  display: flex;

  button {
    width: 200px;
    margin-bottom: 100px;
  }
}
